<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.server.mapper.CommoditycheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zty.server.pojo.Commoditycheck">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="picture" property="picture"/>
        <result column="monthlysales" property="monthlysales"/>
        <result column="classificationid" property="classificationid"/>
        <result column="subclassid" property="subclassid"/>
        <result column="shopid" property="shopid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, price, picture, monthlysales, classificationid, subclassid, shopid
    </sql>

    <resultMap id="listCommoditycheck" type="com.zty.server.pojo.Commoditycheck" extends="BaseResultMap">
        <collection property="shopList" ofType="com.zty.server.pojo.Shop">
            <id column="sid" property="id"/>
            <result column="sname" property="name"/>
        </collection>
    </resultMap>

    <!-- 根据分类id或商品name查询商品分页信息 -->
    <select id="getCommodityCheckPage" resultMap="listCommoditycheck">
        SELECT
        c.id,
        c.name,
        c.price,
        c.picture,
        c.monthlysales,
        c.classificationid,
        c.secondaryid,
        c.subclassid,
        s.id AS sid,
        s.name AS sname
        FROM
        commoditycheck c,
        shop s
        WHERE
        c.shopid = s.id
        <if test="commoditycheck.name != null and commoditycheck.name != ''">
            AND c.name LIKE CONCAT('%', #{commoditycheck.name}, '%')
        </if>
        <if test="commoditycheck.classificationid != null">
            AND c.classificationid = #{commoditycheck.classificationid}
        </if>
        <if test="commoditycheck.secondaryid != null">
            AND c.secondaryid = #{commoditycheck.secondaryid}
        </if>
        <if test="commoditycheck.subclassid != null">
            AND c.subclassid = #{commoditycheck.subclassid}
        </if>
        ORDER BY
        c.id
    </select>
</mapper>
